@import "reset.scss";
@import "general.scss";
@import "navbar.scss";

.my-container {
    max-width: 64rem;
}

form.news-form {
    background: $dark-gray-color;
    padding: 2rem 3rem;
    border-radius: .5rem;
    margin-top: 2rem;

    label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type=text],
    textarea {
        width: 100%;
        background: transparent;
        border: 1px solid white;
        padding: .625rem;
        margin-bottom: 1rem;
        color: white;
    }

    textarea {
        min-height: 12rem;
    }

    input[type=submit] {
        color: white;
        background: transparent;
        padding: 0.6rem 1.25rem 0.45rem;
        margin-top: .5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.1rem;
        display: block;
        width: 100%;
        box-shadow: inset 0 0 0 1px white;

        transition: all .3s;

        &:hover, &:focus {
            color: $light-blue-color;
            box-shadow: inset 0 0 0 1px $light-blue-color;
        }

        &:active {
            color: white;
            background: $light-blue-color;
            box-shadow: inset 0 0 0 1px $light-blue-color;
        }
    }
}


.news-feed {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2rem;
}

.news {
    background: $dark-gray-color;
    padding: 2rem 3rem;
    border-radius: .5rem;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: end;
        line-height: 1;
    }

    &__title {
        font-weight: 500;
        font-size: 1.3rem;
        color: $orange-color;
    }

    &__date {
        color: $grey-color;
    }

    &__content {
        padding: 1rem 0;
        //font-weight: 400;
        //font-size: 1.1rem;

        a {
            color: $light-blue-color;
        }
    }

    &__reactions {

    }
}

.reactions {

    &__buttons {
        display: flex;
        column-gap: 1rem;
        align-items: center;
        line-height: 1;
    }

    &__like {

        i.bi-hand-thumbs-up-fill {
            color: $red-color;
        }
    }

    &__comment {
        font-weight: 400;
        transition: all .3s;

        &:hover {

        }
    }

    &__delete {
        color: $red-color;
    }

    &__form {

    }
}

.comment-form {

    &__top {

    }

    input[type="text"] {
        background-color: transparent;
        color: #ffffff;
        border: none;
        border-bottom: 2px solid $grey-color;
        width: 100%;
        display: block;
        margin-top: .5rem;

        &:focus {
            outline: none;
            border-bottom: 2px solid #fff;
        }
    }

    &__bottom {
        display: flex;
        justify-content: end;
    }

    &__button {
        display: inline-block;
        background: none;
        color: #FFF;
        padding: 0.45rem 1.2rem 0.3rem;
        margin-top: .5rem;
        border-radius: 0.5rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.1rem;
        font-size: .875rem;
        box-shadow: inset 0 0 0 1px #fff;
        transition: all 0.3s;

        &:hover {

        }

        &_disabled {
            color: $grey-color;
            box-shadow: inset 0 0 0 1px $grey-color;
        }
    }
}

.comments {

    &__button {
        display: inline-flex;
        column-gap: .75rem;
        color: $light-blue-color;
        margin-top: 1rem;
        font-weight: 500;
        line-height: 1;
    }

    &__list {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}


.comment {

    &__head {
        display: flex;
        align-items: end;
        column-gap: 1rem;
    }

    &__username {
        color: inherit;
        font-weight: bold;
    }

    &__date {
        color: $grey-color;
    }

    &__delete {
        color: $red-color;
        font-size: .875rem;
    }

    &__content {
        margin-top: .3rem;
    }
}


.hidden {
    display: none;
}